
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="cointeiner">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <%= title%></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"> <i class="fas fa-building"></i> INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="fas fa-biking"></i>Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nails-cindy"><i class="fas fa-sign-language"></i>Nails-Cindy</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>